In [3]:
import pandas as pd

df = pd.read_csv('input/mlbplaybyplay2010s/all2010.csv', low_memory=False)
df

,GAME_ID,AWAY_TEAM_ID,INN_CT,BAT_HOME_ID,OUTS_CT,BALLS_CT,STRIKES_CT,PITCH_SEQ_TX,AWAY_SCORE_CT,HOME_SCORE_CT,...,REMOVED_FOR_PH_BAT_FLD_CD,PO1_FLD_CD,PO2_FLD_CD,PO3_FLD_CD,ASS1_FLD_CD,ASS2_FLD_CD,ASS3_FLD_CD,ASS4_FLD_CD,ASS5_FLD_CD,EVENT_ID
0,ANA201004050,MIN,1,0,0,2,2,CSBFFBFC,0,0,...,0,2,0,0,0,0,0,0,0,1
1,ANA201004050,MIN,1,0,1,0,1,FX,0,0,...,0,3,0,0,4,0,0,0,0,2
2,ANA201004050,MIN,1,0,2,1,1,CBX,0,0,...,0,3,0,0,4,0,0,0,0,3
3,ANA201004050,MIN,1,1,0,3,2,BBCCFBFFFB,0,0,...,0,0,0,0,0,0,0,0,0,4
4,ANA201004050,MIN,1,1,0,0,1,CX,0,0,...,0,8,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191830,WAS201009290,PHI,9,0,1,1,2,CSBC,7,1,...,0,2,0,0,0,0,0,0,0,65
191831,WAS201009290,PHI,9,0,2,1,2,.CCBX,7,1,...,1,3,0,0,5,0,0,0,0,66
191832,WAS201009290,PHI,9,1,0,2,2,.SBSBS,7,1,...,0,2,0,0,0,0,0,0,0,67
191833,WAS201009290,PHI,9,1,1,0,2,FCX,7,1,...,0,9,0,0,0,0,0,0,0,68
191834,WAS201009290,PHI,9,1,2,2,2,BCBCX,7,1,...,0,8,0,0,0,0,0,0,0,69

In [8]:
df[(df['GAME_END_FL'] == 'T') & (df['INN_CT'] == 1)]

Empty DataFrame
Columns: [GAME_ID, AWAY_TEAM_ID, INN_CT, BAT_HOME_ID, OUTS_CT, BALLS_CT, STRIKES_CT, PITCH_SEQ_TX, AWAY_SCORE_CT, HOME_SCORE_CT, BAT_ID, BAT_HAND_CD, RESP_BAT_ID, RESP_BAT_HAND_CD, PIT_ID, PIT_HAND_CD, RESP_PIT_ID, RESP_PIT_HAND_CD, POS2_FLD_ID, POS3_FLD_ID, POS4_FLD_ID, POS5_FLD_ID, POS6_FLD_ID, POS7_FLD_ID, POS8_FLD_ID, POS9_FLD_ID, BASE1_RUN_ID, BASE2_RUN_ID, BASE3_RUN_ID, EVENT_TX, LEADOFF_FL, PH_FL, BAT_FLD_CD, BAT_LINEUP_ID, EVENT_CD, BAT_EVENT_FL, AB_FL, H_FL, SH_FL, SF_FL, EVENT_OUTS_CT, DP_FL, TP_FL, RBI_CT, WP_FL, PB_FL, FLD_CD, BATTEDBALL_CD, BUNT_FL, FOUL_FL, BATTEDBALL_LOC_TX, ERR_CT, ERR1_FLD_CD, ERR1_CD, ERR2_FLD_CD, ERR2_CD, ERR3_FLD_CD, ERR3_CD, BAT_DEST_ID, RUN1_DEST_ID, RUN2_DEST_ID, RUN3_DEST_ID, BAT_PLAY_TX, RUN1_PLAY_TX, RUN2_PLAY_TX, RUN3_PLAY_TX, RUN1_SB_FL, RUN2_SB_FL, RUN3_SB_FL, RUN1_CS_FL, RUN2_CS_FL, RUN3_CS_FL, RUN1_PK_FL, RUN2_PK_FL, RUN3_PK_FL, RUN1_RESP_PIT_ID, RUN2_RESP_PIT_ID, RUN3_RESP_PIT_ID, GAME_NEW_FL, GAME_END_FL, PR_RUN1_FL, PR_RUN2_FL, PR_RUN3_FL, REMOVED_FOR_PR_RUN1_ID, REMOVED_FOR_PR_RUN2_ID, REMOVED_FOR_PR_RUN3_ID, REMOVED_FOR_PH_BAT_ID, REMOVED_FOR_PH_BAT_FLD_CD, PO1_FLD_CD, PO2_FLD_CD, PO3_FLD_CD, ASS1_FLD_CD, ASS2_FLD_CD, ASS3_FLD_CD, ASS4_FLD_CD, ASS5_FLD_CD, EVENT_ID]
Index: []

[0 rows x 97 columns]